.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-container > * {
    margin-right: 1.25rem;
}

.content-container > *:last-child {
    margin-right: 0;
}

.right-container {
    display: flex;
    flex-direction: column;
}
