.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.outlet-container {
    padding: 0.4rem;
    margin: 0.2rem 0.1rem 0 0.3rem;
}
