.content-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box-container {
    display: flex;
    flex-direction: column;
}

.right-container {
    display: flex;
    flex-direction: column;
}
