.main {
    width: 22%;
    border: 1px solid #000;
    background: #FFF;
}

.battlePoint {

    background-color: #969DE3;
    padding-top: 10px;
    border-bottom: 1px solid #000;
}

.battlePoint__title {


    color: #000;

    text-align: center;
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-family: Walter Turncoat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 25px */
}

.battlePoint__user {
    color: #000;

    text-align: center;
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-family: Walter Turncoat;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 25px */
}

.clown {

    margin-bottom: -15px;
    margin-left: 5px;
}