.background {
    width : 960px;
    height : 640px;
    background-image : url('../imgs/Rectangle 12290.png') ;
}

.skillContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillButton {
    padding: 27.7px 70px;
    background-color: #dccd33;
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    
}



/* // 전투 시작
// 1. 나, 상대 수치 나오게 해야한다.(체력,공격력, 방어력)
// 2. 이제 로그를 사용해서 상대와 나의 전투 기록들이 하나씩 하나씩 나타야한다.
// 3. 스킬 로그는 조금 딜레이를 줘서 스킬을 사용했다는 명시 확실하게,,
// 4. 최종적으로 로그도 보여주는데, 떄릴 때 마다, 대표캐릭터를 사용해서 공격을 취하는 모션까지,,,

// 전투 종료
// 1. 공격자에게 승리, 패배 알려주기
// 2. 이기면 상대 일부 골드 보상, 지면 상대에게 내 일부 골드 주기
// 3. 배틀 포인트 승패에 따라 휙득
// 4. 승패에 따라 랭킹 순위 변동 */