.TitleContainer {
    background-color: #B8FBEA;
    padding: 10px 0 10px 10px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}



.Side2Container {
    width: 60%;
    background-color: #F0FFFE;
    border-right: 1px solid #C2C2C2;

    padding: 20px 20px 20px 20px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Side3Container {
    height: 620px;
    background-color: #F0FFFE;
}

.ReviewImage {
    width: 50px;
    height: 50px;

}

.ReviewRist {
    /* 높이를 지정하여 스크롤 가능한 컨테이너로 만듭니다. */
    max-height: 500px;


    /* 원하는 높이로 조절하세요 */
    overflow-y: scroll;

    /* 세로 스크롤만 표시 */
}

.ReviewContainer {
    margin: 10px 10px 10px 10px;
    width: 550px;
    border-bottom: 1px solid #C2C2C2
}

.ReviewInput {
    width: 450px;
    height: 100px;

    margin-left: 20px;
    padding-left: 20px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.ReviewSubmit {
    position: absolute;
    height: 105px;
    width: 80px;

    border: 1px solid #AEAEAE;
    background: #B8FBEA;
}

.BoardImgResize {
    width: 50%;
    height: 50%;
}

.ContentContainer {
    height: 300px;
}

.ReviewComment {
    background-color: #FAFAFA;
    height: 40px;
    color: #000;

    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ReReview {
    background-color: white;
    height: 60px;
}

.ReReviewInput {
    height: 55px;
    width: 400px;

    border: none;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.ReReviewButton {

    height: auto;
    margin-left: 10px;
}