.TitleContainer {
    background-color: #B8FBEA;
    padding: 10px 0 10px 10px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}



.Side2Container {
    width: 60%;
    background-color: #F0FFFE;
    border-right: 1px solid #C2C2C2;

    padding: 20px 20px 20px 20px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Side3Container {
    height: 620px;
    background-color: #F0FFFE;
}

.ReviewImage {
    width: 50px;
    height: 50px;

}

.ReviewRist {
    height: 500px;
}

.ReviewContainer {
    margin: 10px 10px 10px 10px;
    width: 550px;
    border-bottom: 1px solid #C2C2C2
}

.ReviewInput {
    width: 450px;
    height: 100px;

    margin-left: 20px;
    padding-left: 20px;

    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.ReviewSubmit {
    position: absolute;
    height: 105px;
    width: 80px;

    border: 1px solid #AEAEAE;
    background: #B8FBEA;
}

.BoardImgResize {
    width: 50%;
    height: 50%;
}

.ContentContainer {
    height: 300px;
}