.outlet-container-wrapBox{
    width: 100%;
    height: 100%;
    background-image: url("../image/Rectangle 12374.webp");
    background-repeat: no-repeat;
    border-radius: 0.5rem;
    box-sizing: border-box;
    padding: 60px;
}
.outlet-container-innerBox{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    padding: 0 20px;
    box-sizing: border-box;
}
.outlet-container-activeTap{
    width: 160px;
    height: 45px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #61dafb;
    position: absolute;
    top: -52px;
    left: 0;
    display: flex;
    gap: 10px;
}
.btn{
    background-color: #ffa500;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    width: 250px;
    height: 45px;
    position: absolute;
    bottom: -52px;
    right: 0;
}
/*.outlet-container-activeTap > div:last-child {*/
/*    background: #B6E4EA;*/
/*}*/
.gradeTap {
    padding: 10px 20px 0 20px;
    display: flex;
    gap: 8px;
}
.gradeTap > div {
    width: 147px;
    height: 48px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.60);
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upgrade_invBox{
    width: 377px;
    height: 425px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    padding-top: 10px;
    margin: 15px 0 0 35px;
}
.mainBoxWrap {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: scroll;
    width: 280px;
    height: 380px;
}
.mainBoxWrap::-webkit-scrollbar {
    width: 0px;
}
.mainBoxWrap-invItem{
    display: flex;
    flex-direction: row;
}
.mainBoxWrap-invItem p {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 80%;
    font-weight: 600;
    font-size: 18px;
}
.upgrade-inven-content{
    background-color: #ffffff;
    border-radius: 30px;
    border: solid black 0.06rem;
    width: 4.2rem;
    height: 4rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}
.upgrade-inven-content.selected {
    background-color: #dccd33;
    border: solid white 0.06rem;
}
.upgrade-inven-content-image{
    width: 60px;
    height: 58px;
}
.potBox {
    display: flex;
    margin: 30px 20px 10px 20px;
    width: 490px;
    height: 380px;
    background-image: url("../image/ANVIL 1.png");
    position: relative;
}
.potBoxItemWrap {
    position: absolute;
    bottom: 124px;
    width: 75%;
    height: 77px;
    left: 67px;
    display: flex;
}
.potBoxItem {
    width: 65px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.potBox-image{
    background-color: #FFFFFF;
    width: 90px;
    height: 80px;
    margin: 90px 10px 0 293px ;
}