body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

.outer-box {
    width: 108rem;
    height: 56rem;
    background-color: #fadbff;
    border: 0.125rem solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-box {
    width: 104.5rem;
    height: 53rem;
    background-color: #ffffff;
    border: 0.125rem solid #ffeaea;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.third-box {
    width: 101rem;
    height: 50rem;
    background-color: #ccf4ff;
    border: 0.125rem solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box {
    width: 98rem;
    height: 47rem;
    background-color: #ffffff;
    border: 0.125rem solid #000;
    border-radius: 0.5rem;
}
