.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.species-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.species-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.species-option img {
    margin-bottom: 0.5rem;
}

input[type='text'],
input[type='password'] {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}
