.signup-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42rem;
}

.signup-container {
    width: 42rem;
    min-height: 31.25rem;
    max-height: 42rem;
    padding: 1.5rem;
    background-color: rgba(255, 223, 186, 0.8);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
    position: relative;
    z-index: 2;
}

.species-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.species-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.species-option img {
    margin-bottom: 0.5rem;
}

.logo-image {
    width: 20rem;
    height: 5rem;
    margin: 0 auto;
}

.signup-input {
    width: calc(100% - 1.5rem);
    padding: 0.875rem;
    border: 0.0625rem solid #ffdea1;
    border-radius: 0.3125rem;
    font-size: 1rem;
    margin-bottom: 0.75rem;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
}

.signup-button {
    background-color: #f9d371;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.25rem;
    padding: 10px 10px;
    cursor: pointer;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-upload-container {
    width: calc(100% - 1.5rem);
    border: 0.0625rem solid #ffdea1;
    border-radius: 0.3125rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.875rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
}

.file-upload-container input[type='file'] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-upload-container span {
    display: block;
    pointer-events: none;
}

.file-upload-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.5rem;
}

.file-upload-preview {
    width: 100px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 0.3125rem;
}

.species-selection-box {
    border: 1px solid #e0e0e0;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
}

.species-selection-title {
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}
