.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.species-container {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.species-option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.species-option img {
    margin-bottom: 0.5rem;
}

.signup-input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: 100%;
}

.signup-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #f9d371;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
