.main-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-y: auto;
    height: 34rem;
}
.main-container::-webkit-scrollbar {
    width: 0.75rem;
}

.main-container::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 0.375rem ; 
}
.main-list-wrap{
    display: flex;
}
.main-list-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 11.4rem;
    height: 9.6rem;
    border: solid black 0.06rem;
    margin: 0 2.8rem 2.2rem 0;
}
.main-list-image{
    width: 7.5rem;
    height: 6.25rem;
}
.page-button{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 0.1rem;
    border-radius: 8rem;
    font-weight: bold;
    background-color: #61dafb;
}
.page-button:hover{
    background-color: #4e5ad3;
}
.main-list-Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: none;
}
.btn-icon{
    border-radius: 10rem;
    width: 1.25rem;
    height: 1.25rem;
}
.btn-icon:hover{
    background-color: #f2f2f2;
}



