
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-list-wrap{
    display: flex;

}
.main-list-content{
    width: 11.4rem;
    height: 9.6rem;
    border: solid black 0.06rem;
    margin: 0 2.8rem 2.2rem 0;
}