

.register-container{
    background-color: #f2f2f2;
    display: flex;
    width: 18rem;
    height: 37.1rem;
    border: solid black 0.1rem;
    border-radius: 1rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.register-wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
}
.register-wrap-item{
    width: 12rem;
    height: 11.5rem;
    border: solid black 0.06rem;
    border-radius: 1rem;
    margin-top: 2rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-wrap-image{
    width: 14.375rem;
    height: 11.875rem;
}
.register-wrap-input{
    width: 10rem;
    height: 1.7rem;
    background-color: #f2f2f2;
    border: none;
    border-bottom: black 0.2rem solid;
}
.register-btnWrap{
    display: flex;
    flex-direction: column;
    margin-top: 2.4rem;
    gap: 1rem;
}
.register-btn{
    width: 12rem;
    height: 2.5rem;
    border-radius: 1rem;
    color: #FFFFFF;
    background-color: #969DE3;
    font-weight: bold;
    margin: 0;
}
.register-btn:hover{
    width: 12rem;
    height: 2.5rem;
    border-radius: 1rem;
    color: #FFFFFF;
    background-color: #4e5ad3;
    box-shadow: black;
    font-weight: bold;
}